services:
  gateway:
    image: threedotslabs/event-driven-gateway-v2:latest
    platform: linux/amd64
    ports:
      - "8888:8080"
    environment:
      SOLUTION_BASE_URL: "http://host.docker.internal:8080/"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:7.4-alpine
    ports:
      - "6379:6379"

  postgres:
    image: postgres:18.1-alpine3.23
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    ports:
      - "5432:5432"

  prometheus:
    image: prom/prometheus:v3.5.1
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090
    restart: unless-stopped
    volumes:
      - ./docker/prometheus:/etc/prometheus
      - prom_data:/prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"

  jaeger:
    image: jaegertracing/jaeger:2.14.1
    volumes:
      - /etc/localtime:/etc/localtime:ro
    ports:
      - '16686:16686'
      - '4318:4318'

volumes:
  prom_data:
